<section class="py-5">
  <div class="container">
    <h2 class="text-center text-success mb-4">Education</h2>
    <div class="card card-hover  p-4 shadow">
      <h5 class="fw-bold">B.E. Computer Science</h5>
      <p class="text-success">National Engineering College, Kovilpatti</p>
      <p>2018 - 2022</p>
      <p><strong>CGPA:</strong> 8.4</p>
      <p>
       Strengthened foundations in programming, algorithms, and software engineering with hands-on experience in JavaScript, C, and Java.
      </p>
    </div>
  </div>
</section>
