<p class="h1">About Me</p>
<p > 
I’m Sneka G, a passionate Software Developer with 3 years of experience crafting scalable, full-stack applications. I specialize in both backend and frontend development, with hands-on experience using Node.js, Angular, and Express. I’m proficient in serverless architecture using AWS Lambda and have deep database expertise in PostgreSQL, MySQL, and DynamoDB. I love writing clean, maintainable code in TypeScript and JavaScript, and I’m enthusiastic about reactive programming with RxJS.</p>
