<!-- <p class="h1">About Me</p>
<p > 
</p> -->
<section class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center text-success mb-4">About Me</h2>
    <div class="card card-hover p-4 shadow">
      <p>
        I’m Sneka G, a passionate Software Developer with 3 years of experience crafting scalable, full-stack applications.
      </p>
      <p>
        I specialize in both backend and frontend development, with hands-on experience using Node.js, Angular, and Express. 
      </p>
      <p>
        I’m proficient in serverless architecture using AWS Lambda and have deep database expertise in PostgreSQL, MySQL, and DynamoDB.
      </p>
      <p>
       I love writing clean, maintainable code in TypeScript and JavaScript, and I’m enthusiastic about reactive programming with RxJS.
      </p>
    </div>
  </div>
</section>
