<!-- <p class="h1">Contact</p>
<ul>
  <li>📧 Email: sneka2207&#64;gmail.com </li>
<li>
💼 LinkedIn: linkedin.com/in/sneka-g-5aa10a169
</li>
</ul> -->

<section class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center text-success mb-4">Contact</h2>
    <div class="card p-4 shadow-sm text-center">
      <p><strong>Email:</strong> sneka2207&#64;gmail.com</p>
      <p><strong>Phone:</strong> +91-8525867120</p>
      <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/sneka-g-5aa10a169/" target="_blank">View Profile</a></p>
    </div>
  </div>
</section>
