.divclass{
 
 background-color: rgb(255, 255, 255);
  height:50px;
}
.nav-link{
  color:black
}
.nav-link:hover{    
  opacity: 1;
  color: rgb(142 183 101 / var(--tw-bg-opacity, 1));
}
.name-bar{
 padding-left: 50px;
 padding-top:12px;
  background: linear-gradient(to right, #8FC867, #DCEB98);
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 1.5rem;
  height:40px
}
.nav-link.active {
  font-weight: 600;
  color: #2e7d32 !important;
  border-bottom: 2px solid #2e7d32;
}
.sticky-banner {
  position: sticky;
  top: 0;
  z-index: 1050; // Bootstrap navbar default
  background: white; // or your gradient
}