<p class=" divclass d-flex  justify-content-between align-items-center">SNEKA G<span>
<ul class="nav  d-flex align-items-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#home">Home</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link "  href="#about">About Me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#skills">Skillset</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#work">Work Experience</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#education">Education</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#contact">Contact</a>
  </li>
</ul>
</span>
</p>





