.custom-bg {
  font-family:  ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: radial-gradient(circle at center,#e6f4ea, #f2fbe8);

  }
 
section {
  padding: 10px 0;
}

h2 {
  color: #9bcc6b;
  font-weight: bold;
}

.card {
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}