.custom-bg {
  font-family:  ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: radial-gradient(circle at center,#e6f4ea, #f2fbe8);

  }
 
section {
  padding: 10px 0;
}

h2 {
  color: #9bcc6b;
  font-weight: bold;
}

.card {

  box-shadow:5px 5px 35px  rgba(0, 0, 0,0.1);
   transition: transform 0.3s ease,
    box-shadow 0.3s ease;
    border-radius: 1rem;
}
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;

  &:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 55px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 10;
    cursor: pointer;
  }
}
