<!-- <p class= "h1">Work Experience</p>

<p class="h5 d-flex justify-content-between">Software Developer-Centizen Inc<span> 
📅 Jan 2023 – Present</span></p>
<ul >
<li class="container">Built scalable applications using Angular, Node.js, and AWS Lambda</li>

<li class="container">Optimized database queries for PostgreSQL, MySQL, and DynamoDB</li>

<li class="container">Collaborated with cross-functional teams to enforce code quality and performance</li>
</ul>
<p class="h5 d-flex justify-content-between">
Software Developer Trainee - Centizen Inc<span> 
📅 Jun 2022 – Dec 2022</span></p>
<ul>
<li class="container">Developed frontend with Angular & RxJS; Backend services with Node.js</li>

<li class="container">Introduced to cloud-native development using AWS Lambda and DynamoDB</li>
</ul>
<p  class="h5 d-flex justify-content-between">
Software Developer Intern - Centizen Inc<span> 
📅 Dec 2021 – May 2022</span></p>
<ul>
<li class="container">Learned JavaScript, TypeScript, and Angular through real-world projects</li>

<li class="container">Practiced unit testing, debugging, and agile methodologies</li>
</ul> -->
<section class="py-5">
  <div class="container">
    <h2 class="text-center text-success mb-4">Experience</h2>
    <div class="card card-hover p-4 shadow">
      <h5 class="fw-bold">SOFTWARE DEVELOPER</h5>
      <p class="text-success">CENTIZEN INC | 2021 - 2025</p>
      <p><strong>Zenbasket (E-commerce Website)</strong></p>
      <p><strong>Tech Stack:</strong> Node.js, JavaScript, TypeScript, PostgreSQL, Sequelize, Angular</p>
      <ul>
        <li>Designed and implemented RESTful APIs including Plans and Subscription</li>
        <li>Used PostgreSQL for relational data handling</li>
        <li>Implemented RBAC</li>
        <li>Used Docker for containerized development</li>
        <li>Developed serverless microservices using AWS Lambda</li>
      </ul>
    </div>
  </div>
</section>
