.hero-section {
  height: 80vh;
  background: radial-gradient(circle at center, #e6f4ea, #f2fbe8);
  position: relative;
  overflow: hidden;
  padding: 2rem;
}

.hero-desktop {
  height: 100vh;
}

.hero-mobile {
  height: 80vh;
}

.hero-title {
  font-size: 64px;
  font-weight: 700;
  color: #8bc34a;
}

.hero-subtitle {
  font-size: 24px;
  font-weight: 600;
  color: #2f3e46;
}

.hero-desc {
  max-width: 600px;
  color: #2f3e46;
  font-size: 16px;
  margin-top: 1rem;
}

.btn.custom-btn-green {
  background-color: #a3d977;
  color: white;
  font-weight: 500;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  // margin-left: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn.custom-btn-green:hover {
  background-color: #94cd61; 
  transform: scale(1.05); 
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.btn.custom-btn-white {
  background-color: whitesmoke;
  color: #56ab2f;
  font-weight: 500;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius:30px;
  // margin-left:20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;


}
.btn.custom-btn-white:hover {
  background-color: white; 
  transform: scale(1.05); 
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
 .circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
  pointer-events: none;
  animation: float 8s ease-in-out infinite;
  min-width: 24px;
  min-height: 24px;
  max-width: 120px;
  max-height: 120px;
}

.circle-1 {
  width: 80px;
  height: 80px;
  top: 80px;
  left: 60px;
  background: #d0edb3;
}

.circle-2 {
  width: 100px;
  height: 100px;
  bottom: 70px;
  right: 100px;
  background: #c8e6c9;
}

.circle-3 {
  width: 40px;
  height: 40px;
  top: 75px;
  right: 30px;
  background: #aed581;
}

.circle-4 {
  width: 60px;
  height: 60px;
  bottom: 90px;
  left: 100px;
  background: #dcedc8;
}

.circle-5 {
  width: 30px;
  height: 30px;
  top: 270px;
  right: 30px;
  background: #e0f2e8;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.05);
  }
}